{% extends 'base.html'%}
{% load static %}

{% block title %}  Add post {% endblock %}




{% block content  %}



    <h1>Create your post here</h1><br>
                <div class="form-group">           
    <form method="POST" enctype="multipart/form-data" class="form-control">
        
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <button class="btn btn-secondary">Post</button>
        
                </div>
     
{% endblock %}